notes:-
<ul>
<li>Ensure that you reload/refresh this page a few times a day incase of updates (hit F5)</li>
<li>Version selected takes presendence over User</li>
<li>Copy calibration files (in any format, but without spaces) into \\server\project\cal\Software\Calibration</li>
</ul>

todo:-
<ul>
<li>config/spt overrides</li>
<li>Start software/system Doesnt work yet!</li>
</ul>

versions:-
<ul>
<li>v1.4</li>
<li>cal update working</li>
<li>option to update either or both of software and/or cal</li>
</ul>
