<h1>Updating...</h1>
<p>version : <%= params['version_list'] %></p>
<p>host : <%= params['host'] %></p>
<p>Copy : <%= params['update_params[0]'] %></p>
<p>Start : <%= params['update_params[1]'] %></p>
